.myInput {
  padding: 5px 15px;
  width: 139px;
  border: none;
  color: #4f5f76;
  font-weight: 500;
  background: transparent;
}
.myInput:focus {
  outline: none !important;
}
.myInput:hover {
  outline: none !important;
}
/* Change shape of icon */
input::-webkit-calendar-picker-indicator {
  background-image: url('../../../assets/calendar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: 1px;
}
input[type="date"]::-moz-calendar-picker-indicator {
  background-image: url('../../../assets/calendar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: 1px;
}