.myBtn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myBtn:focus {
  outline: none;
}

@media (min-width: 769px) and (max-width: 1240px)  {
  .myBtn {
    /* padding: 5px; */
  }
}