.myBtn {
  padding: 6px 15px;
  background: #2B7A78;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myBtn:focus {
  outline: none;
}

@media (min-width: 769px) and (max-width: 1240px)  {
  .myBtn {
    /* padding: 5px; */
  }
}